flask
flask-sqlalchemy
flask-migrate
flask-cors
marshmallow
requests
MySQL-python
xmltodict
IMDbPY
celery
ipython
git+https://github.com/Ch00k/flask-restful.git#egg=flask-restful
git+https://github.com/Ch00k/webargs.git#egg=webargs
