[supervisord]
loglevel = debug
pidfile = {{ run_dir }}/cb_supervisor.pid
logfile = {{ run_dir }}/cb_supervisor.log

[unix_http_server]
file = {{ run_dir }}/cb_supervisor.sock

[supervisorctl]
serverurl = unix://{{ run_dir }}/cb_supervisor.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:celerybeat]
command = {{ base_dir }}/{{ venv_name }}/bin/celery -A clapperboard.workers beat -l info --schedule {{ run_dir }}/beat.db
numprocs = 1
stdout_logfile = {{ beat_log_file }}
stderr_logfile = {{ beat_log_file }}
autostart = true
autorestart = true
startsecs = 10

[program:write_movie_data_worker]
command = {{ base_dir }}/{{ venv_name }}/bin/celery -A clapperboard.workers worker -c 1 -l info
numprocs = 1
stdout_logfile = {{ write_movie_data_worker_log_file }}
stderr_logfile = {{ write_movie_data_worker_log_file }}
autostart = true
autorestart = true
startsecs = 10
stopwaitsecs = 600
killasgroup = true

[program:cb_api]
command = {{ base_dir }}/{{ venv_name }}/bin/gunicorn clapperboard.api:app
environment = CLPBRD_CONFIG={{ base_dir }}/config.py
