<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<table>
    <tr>
        <th>Title</th>
        <th>IMDB rating</th>
        <th>IMDB page url</th>
        <th>Show start date</th>
        <th>Show end date</th>
        <th>Show times</th>
    </tr>
{% for movie in movies %}
    <tr>
        <td>
            {% if movie.imdb.title %}
                <a href="{{ movie.url }}">{{ movie.imdb.title }}</a>
            {% else %}
                <a href="{{ movie.url }}">{{ movie.url.split('/')[-2].replace('-', ' ').title() }}</a>
            {% endif %}
        </td>
        <td>
            {% if movie.imdb.rating %}
                {{ movie.imdb.rating }}
            {% else %}
                N/A
            {% endif %}
        </td>
        <td>
            {% if movie.imdb.id %}
                <a href="http://imdb.com/title/tt{{ movie.imdb.id }}">IMDB</a>
            {% else %}
                N/A
            {% endif %}
        </td>
        <td>
            {% if movie.show_start %}
                {{ movie.show_start }}
            {% else %}
                N/A
            {% endif %}
        </td>
        <td>
            {% if movie.show_end %}
                {{ movie.show_end }}
            {% else %}
                N/A
            {% endif %}
        </td>
        <td>
            {% for show_time in movie.show_times %}
                <a href="{{ show_time.order_url }}">{{ show_time.datetime }}</a> |
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>